<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <script src="main.js"></script>
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  
  
<div id="inputSearch" class="container">
  <h2>Vuejs Search Dropdown</h2>

<div class="form-group">
        <label>what is your occupation?</label>  
            <div class="link-dropdown form-control">
			<div class="link-dropdown-search">
                    <div class="link-dropdown-display-item" v-on:click= "toggleDropdown()" v-if="!open">
                        <div>{{displayItem()}}</div>                        
                    </div>
                    <input v-model="searchTerm" placeholder="Search and Select" id="displayValue" v-if="open" v-focus v-on:click= "toggleDropdown()"/>
                <div class="link-dropdown-button" v-on:click= "toggleDropdown()">
                    <div class="dropdown-arrow"></div>
                </div>
			</div>
			<div class="link-dropdown-panel" v-show="open">
				<div class="link-dropdown-item placeholder" v-on:click= "itemClicked(index)" v-for = "(item,index) in items" id="realitems" v-show="item.dd_visible">
                    <option>{{item.field}}</option>
				</div>
			</div>
		</div>
    </div>
</div>

<section>
  <!--for demo wrap-->
  <h1>Frame Values</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rarity</th>
          <th>Value</th>
          <th>Change</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Starter</td>
          <td>Common</td>
          <td>500</td>
          <td>+0</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
<div class="made-with-love">
  Play the game here: 
  <a target="_blank" href="https://www.roblox.com/games/8916037983">Starving Artists</a>
</div>
  
  </body>
</html>
