
body{
  background:black;
}
.container{
  margin-top: 70px;
  color:#fff;
}
.container h2{
  text-align:center;
  padding-bottom:30px;
}
.link-dropdown {
  position: relative;
}
.form-group label{
  padding-bottom:5px;
  font-size:18px;
}
.form-control .link-dropdown-search {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control .link-dropdown-search input {
  border: none;
  flex: 1;
}
.form-control .link-dropdown-search input:focus{
    outline: none;
}
.form-control .link-dropdown-search input::-webkit-input-placeholder {
  padding-left: 5px;
}
.form-control .link-dropdown-search .link-dropdown-display-item {
  display: flex;
  flex-direction: row;
  /*height: 28px;*/
  align-items: center;
  flex: 1;
  
}
.form-control .link-dropdown-search .link-dropdown-button {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control .link-dropdown-search .link-dropdown-button .dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #575759;
}
.form-control .link-dropdown-panel {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(121,155,210);
  background-color: white;
  max-height: 200px;
  overflow: auto;
  z-index: 1;
  left:0;
}
.form-control .link-dropdown-panel .link-dropdown-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.form-control .link-dropdown-panel .link-dropdown-item option{
    margin-left: 13px;
}
#realitems:hover{
    color: #fff !important;
}
.form-control .link-dropdown-panel .link-dropdown-item:hover {
  background-color: rgb(30,144,255);
}

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
