@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --bgColorLight1: rgb(250 220 86);
    --bgColorLight2: rgb(236 186 64);

    --textColorLight1: rgb(173 89 32);
    --textColorLight2: rgb(173 89 32);
    --textColorLight3: rgb(125 77 45);
}

.itemContainer {
    padding: 10px;

    display: grid;
    grid-template-areas: "image itemName"
                         "image itemRarity"
                         "image itemCost"
                         "image itemDemand"
                         "image nil";

    grid-template-rows: auto auto auto 0.4fr 0.75fr;
    justify-content: start;
    justify-items: start;
    align-items: start;
    height: 140px;

    background-color: var(--bgColorLight2);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 1%);
    border-radius: 10px;
}
